# Browsers e apps
mozilla/
pulse/
dconf/
vlc/
ibus/
spotify/
lazygit/

# Dev tools (não versionáveis)
herd-lite/
gtk-3.0/
go/
fcitx/
fcitx5/
github-copilot/

# Composer (vendor não precisa ser versionado)
composer
composer/*

# Misc
*.list
btop/
