* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: #ffffff;
  background-color: #000000;
}

#workspaces button {
  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0;
}

#workspaces button.empty {
  color: #ffffff;
}

#workspaces button.active {
  color: #ffffff;
  background-color: #1793d1;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#memory,
#custom-platform-profile {
  padding-left: 1em;
}

#clock {
  color: #ffffff;
  padding: 0 15px;
  margin: 0 5px;
  font-weight: bold;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
  padding-right: 1em;
}
