@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#clock {
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 0 15px;
    margin: 0 5px;
    font-weight: bold;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em 
}
