* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

#waybar {
  color: #ffffff;
  background-color: #000000;
}

#workspaces button {
  all: unset;
  color: #ffffff;
  padding: 0 6px;
  min-width: 10px;
  font-size: 8px;
  font-weight: normal;
  box-shadow: none;
}

#workspaces button.active {
  all: unset;
  color: #ffffff;
  background-color: #1793d1;
  padding: 0 6px;
  min-width: 10px;
  font-size: 8px;
  font-weight: normal;
  box-shadow: none;
}

#workspaces button:hover {
  all: unset;
  color: #ffffff;
  background: transparent;
  padding: 0 6px;
  min-width: 10px;
  font-size: 8px;
  font-weight: normal;
  box-shadow: none;
}

#workspaces button.active:hover {
  all: unset;
  color: #ffffff;
  background-color: #1793d1;
  padding: 0 6px;
  min-width: 10px;
  font-size: 8px;
  font-weight: normal;
  box-shadow: none;
}

#clock {
  color: #ffffff;
  padding: 0 15px;
  margin: 0 5px;
}

#wireplumber,
#idle_inhibitor,
#language,
#network,
#bluetooth {
  padding-right: 1em;
}
